a.arrow-link {
    font-size: 24px;
    text-decoration: none;
    color: #333; /* Couleur du texte */
    margin: 0 5px; /* Marge autour des liens */
}

/* Style pour les flèches gauche et droite */
a.arrow-link.left {
    transform: rotate(180deg); /* Rotation de la flèche vers la gauche */
}

a.arrow-link.right {
    /* Aucune transformation nécessaire pour la flèche vers la droite */
}

/* Changez la couleur lorsque survolé */
a.arrow-link:hover {
    color: #555; /* Couleur du texte lors du survol */
}

.deconnexion {
    position: fixed;
    top: 10px;
    right: 10px;
    color: #ffffff; /* Couleur du texte */
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #8B0000; /* Rouge foncé pour la couleur de fond */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



.deconnexion i {
    margin-right: 5px;
}

.deconnexion:hover {
    transform: scale(1.05);
}