body{
    background-color: #b9b4b4;
}
header{
    background-color: #e8b4ea;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    justify-content: space-between;
}

.droite{
    padding-right: 10px;
}

.gauche img{
    height: 125px;
    width: 125px;
    padding-left: 20px;
}

header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.bouton {
    text-decoration: none;
    border: solid black 1px;
    padding: 5px 10px; /* Ajoutez du rembourrage pour améliorer l'apparence des liens */
    margin: 5px; /* Ajoutez une marge autour des liens */
    border-radius: 5px; /* Arrondissez les coins des liens */
    background-color: transparent; /* Changez la couleur d'arrière-plan des liens */
    color: #000; /* Changez la couleur du texte des liens */
    font-weight: bold; /* Ajoutez une épaisseur au texte des liens */
    width: 50%;
}

.bouton:hover {
    background-color: #d294d2; /* Changez la couleur d'arrière-plan des liens au survol */
}

.page{
    display:flex;               /* Contient aside et corps*/
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 10px;
}
.aside {
    /*background-color: #f1f1f1;*/
    background-color: antiquewhite;
    height: 93vh;
    padding: 20px;
    width: 16%;
    border-radius: 15px;
    position: sticky;
    top: 10px;
}
.contenu_aside{
    font-size: 25px;
}

.contenu_aside ul {
    list-style: none;
    padding: 0;
}

.contenu_aside li {
    padding-top: 28%;
    padding-bottom: 28%;
}

.contenu_aside a {
    text-decoration: none;
    color: #333;
}
main {
    display: flex;
    flex-direction: column;
}
main > iframe {
    margin: 0 auto;
    display: block;
}

.corps{
    width: 74%;
    padding: 20px;
    padding-left: 50px;
}

table{
    border-collapse: collapse;
    table-layout: auto;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

footer{
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
}

.card{
    width: 30%;
    background-color: #b9b4b4;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 100px;
    margin: 2% 1% 2% 0;
    flex-grow: 1;
    padding: 7px;
}
