body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #e3e9f7;
}
.page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* Styles pour les écrans de largeur normale (par exemple, les ordinateurs de bureau) */
nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 16%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,#29648A,#2E9CCA);
    display: flex;
    flex-direction: column; /* Réorganise les éléments en colonne */
    box-shadow: 0 5px 15px #307191;
}

nav ul li {
    list-style: none;
}
nav ul li h3{
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    position: relative;
    padding: 10px 0 10px 38px;
}

nav ul li a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    position: relative;
    padding: 25px 0 25px 38px;
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 100%;
    background: #e3e9f7;
    border-radius: 40px 0px 0px 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
}

nav ul li:last-child a:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 100%;
    background: #d9534f;
    border-radius: 40px 0px 0px 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
}



nav ul li:hover a {
    color: #2b2626;
}

nav ul li:hover a:before {
    width: 95%;
}

nav ul li:last-child {
    margin-top: auto;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
}
.logo img {
    width: 100%;
}

.corps{
    width: 74%;
    margin-left: 25%;
    margin-right: 10%;
    padding-top: 5vh;
}

.corps p{
    text-align:justify;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: auto;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}
.phrase_acceuil{
    text-align: center;
}

.corps-technicien-ticket {
    font-family: 'Montserrat', sans-serif;
    width: 74%;
    margin-left: 25%;
    margin-right: 10%;
    padding-top: 5vh;
}

.technicien-ticket h2 {
    color: #333;
    text-align:justify;
}

.technicien-ticket p {
    margin-bottom: 15px;
    text-align:justify;
}

.description-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.styled-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.styled-checkbox:checked::before {
    content: '\2713';
    font-size: 16px;
    color: #4CAF50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-row:hover {
    background-color: #f5f5f5; /* couleur de fond sombre */
    transition: background-color 0.3s ease; /* effet de transition doux */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* ombre légère */
}

.deconnexion {
    position: fixed;
    top: 10px;
    right: 10px;
    color: #ffffff; /* Couleur du texte */
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #8B0000; /* Rouge foncé pour la couleur de fond */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.deconnexion i {
    margin-right: 5px;
}

.deconnexion:hover {
    transform: scale(1.05);
}


